<ul class="main-nav">
    {{#foreach navigation}}
    <li class="nav-item{{#if current}} current{{/if}}">
        <a class="nav-link" href="{{url absolute="true"}}">{{label}}</a>
    </li>
    {{/foreach}}
</ul>