{{!< default}}
{{!-------------------------------------------------------
# THIS TEMPLATE USING TO RENDER TAG PAGE
---------------------------------------------------------}}

{{!-- Container width --}}
{{#contentFor "container"}}container{{/contentFor}}

{{!-- Insert Header | partials/header.hbs --}}
{{> header}}

{{#tag}}
{{!-- Insert cover image | partials/page-cover.hbs --}}
{{> page-cover background=feature_image}}

{{!-- Insert page header | partials/page-header.hbs --}}
{{> page-header}}
{{/tag}}

<div class="{{{block "container"}}} main-wrap">
    <div class="row">
        <div class="col-lg-9 content-area">
            <div class="content-wrap grid-3">
                {{#foreach posts visibility="all"}}
                {{!-- The tag below includes the markup for each post - partials/card.hbs --}}
                {{> card}}
                {{/foreach}}
            </div>

            {{!-- Insert pagination | partials/pagination.hbs --}}
            {{#if pagination}}
            {{pagination}}
            {{/if}}
        </div>
        <div class="col-lg-3 sidebar-area">
            <div class="sidebar-wrap">
                {{!-- Insert sidebar | partials/sidebar.hbs --}}
                {{> sidebar}}
            </div>
        </div>
    </div>
</div>