// Background
$background-primary: #fafafa;
$background-secondary: #ffffff;
$background-tertiary: #1a73e8;

// Text
$color-primary: #595959;
$color-secondary: #262626;
$color-tertiary: #1a73e8;
$color-light: #ffffff;
$color-dark: #000000;
$color-faded: #a6a6a6;

// Border
$color-border: #e6e6e6;

// Access status
$public-access: #d9d9d9;
$members-access: #28a745;
$paid-access: #ffc107;

// Box shadow
$shadow-primary: 0 1px 5px 0 rgba(0,0,0,.1);
$shadow-secondary: 0 5px 15px 5px rgba(0,0,0,.05);

// Notification
$color-success: #4cb051;
$color-warning: #ff9800;
$color-error: #dc3545;