// Font family
$font-primary: 'Roboto', sans-serif;
$font-secondary: 'Roboto Slab', serif;

// Font size
$font-size-base: .9rem;
$font-size-s: .8rem;
$font-size-m: 1rem;
$font-size-l: 1.2rem;
$font-size-xl: 1.8rem;
$font-size-xxl: 2.6rem;

// Font weight
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;